<h1>Edit course - "{{ course.title }}"</h1>

<form action="/courses/edit" method="post">
    <div class="input-field">
        <input placeholder="Title" id="title" name="title" type="text" class="validate" required value="{{ course.title }}">
        <label for="title">Title</label>
        <span class="helper-text" data-error="Title must be filled"></span>
    </div>
    <div class="input-field">
        <input placeholder="Price" id="price" name="price" type="number" class="validate" required min="0" value="{{ course.price }}">
        <label for="price">Price</label>
        <span class="helper-text" data-error="Number must be filled and more or equal 0"></span>
    </div>
    <div class="input-field">
        <input placeholder="Image" id="image" name="image" type="text" class="validate" required value="{{ course.image }}">
        <label for="image">Image url</label>
        <span class="helper-text" data-error="wrong"></span>
    </div>
    <input type="hidden" name="id" value="{{ course.id }}">
    <button class="btn btn-primary">Edit</button>
</form>
